@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy light";
  src: url("../../public/fonts/Gilroy-Light.ttf");
  background: #f5f5f5;
}

html, body {
  font-family: 'Gilroy', 'Arial', sans-serif!important;
}
